html {
    font-size: 14px;
    position: relative;
    min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/*
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

body {
padding-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#description {
    font-size: xx-large;
}

#carousel.carousel.slide {
    width: 100%;
    max-width: 600px !important;
    
}

.field-validation-error {
    color: #ff0000;
    font-style: italic;
}


/*custom checkboxes*/
input.chk-toggle {
    visibility: hidden;
}

input.chk-toggle:checked:after, input.chk-toggle:after {
        visibility: visible;
        font-family: FontAwesome;
        font-size: 40px;
        vertical-align: text-bottom;
    }

    input.chk-toggle:checked:after {
        content: '\f058';
        color: #099a26;
    }

    input.chk-toggle:after {
        content: '\f057';
        color: #808080;
    }



/*
.container h1 {
    font-family: 'Raleway';
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 50px;
}

hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.thumbnail {
    margin-bottom: 6px;
    display: flex;
    flex-wrap: wrap;
}


.blur {
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.myFooter {
    display: flex;
    flex-flow: row wrap;
}

footer {
    background: #000;
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    max-width: 100%;
    margin-top: auto;
}


.footer-icons {
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 15px;
}

.footer-bottom {
    text-align: center;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

    a:visited, a:focus {
        color: white;
    }

footer a:hover {
    color: rgba(255, 255, 255, 0.6);
}*/