@using AdvertPortal.Core.Models.Domains;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
            <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity?.Name</a>
                  <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.ActionLink("Offers", "Offer", 
                            new {userId = User.FindFirstValue(ClaimTypes.NameIdentifier)})">Twoje Ogłoszenia</a>
                                <a class="dropdown-item link-warning" href="@Url.ActionLink("OfferAddEdit", "Offer")" >Dodaj Nowe Ogłoszenie</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Zarządzanie Kontem</a>
                  </div>
                </li>
        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link ">Wyloguj</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
        </li>
    }
</ul>
