@{
    ViewData["Title"] = "INFORMACJE";
}
<h2 class="text-warning">@ViewData["Title"]</h2>

<h4 class="my-4">Opis i główne funkcjonalności:</h4>
<div class="row">
    <ul>
        <li><h5 class="text-info">Aplikacja - portal ogłoszeniowy</h5></li>
        <li>- publiczny dostęp do przeglądania ogłoszeń wraz z filtrowaniem wyników</li>
        <li>- dla zalogowanych użytkowników 
            <ul>
                <li>- dodawanie / edytowanie / usuwanie własnych ogłoszeń wraz ze zdjęciami oferowanych usług i produktów</li>
                <li>- możliwość oznaczania ogłoszeń innych użytkowników jako obserwowane</li>
                <li>- wyświetlanie tylko własnych ogłoszeń</li>
                <li>- wyświetlanie tylko obserwowanych ogłoszeń</li>
            </ul>
        </li>
        <li></li>
    </ul>
</div>
<div class="row text-center">
    <div class="col col-6 ">
        <img src="~/AboutImages/ADVERTPortal_1.png"  alt="portalPicture" width="80%"/>
    </div>
    <div class="col col-6 ">
        <img src="~/AboutImages/ADVERTPortal_2.png" alt="portalPicture" width="80%"/>
    </div>
</div>
<div class="row mt-5">
    <ul class="mb-4">
        <li><h5 class="text-info">Informacje techniczne</h5></li>
        <li>- UI - Bootstrap 5 - <a href="https://bootswatch.com/sandstone/"> Bootswatch SANDSTONE Theme </a> </li>
        <li>- logowanie z użyciem Nazwy Użytkownika (zamiast e-mail)</li>
        <li>- polecenia dostęne dla zalogowanego użytkownika umieszczone pod przyciskiem z jego nazwą</li>
        <li>- zastosowanie kontrolki <a href="https://ckeditor.com/ckeditor-5/">CKEDITOR 5</a> do wprowadzania opisu produktu/usługi w formacie html</li>
        <li>- zastosowanie biblioteki <a href="https://github.com/mganss/HtmlSanitizer">HTML.Sanitizer</a> w celu ochrony przed atakami XSS</li>
        <li>- dane przechowywane w bazie danych MSSQL</li>
        <li></li>
    </ul>
    <img src="~/AboutImages/ADVERTPortal_3.png" alt="portalPicture" width="80%"/>
</div>